---

const SOCIALS = [
	{
		icon: 'socials/instagram.svg',
		text: '@taytaydoingthings',
		link: 'https://tvick.io'
	},
	{
		icon: 'socials/linkedin.svg',
		text: '@taylorvick',
		link: 'https://tvick.io'
	},
	{
		icon: 'socials/unsplash.svg',
		text: '@tvick',
		link: 'https://tvick.io'
	}
]
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&family=Russo+One&family=Urbanist:wght@400;500;600;700;800&display=swap" rel="stylesheet">
	</head>
	<body>

		<!-- Header -->
		<header class="w-screen bg-white px-8 border-b border-gray-200 sticky top-0">
			<div class="flex grow items-center max-w-2xl my-8 mx-auto">
				
				<!-- Header Avatar and Name -->
				<div class="flex w-full">
					<div class="flex items-center gap-8 grow">
						<div class="flex flex-row grow items-center">

							<!-- Logo -->
							<img src="logo.svg" alt="Logo image" class="md:h-8 h-5">

							<div class="flex flex-col grow"></div>

							<!-- Socials -->
							<div class="flex text-sm text-gray-500 gap-2 align-self-end">
								{
									SOCIALS.map(({ icon, text, link }) => (
										<a href={link} class="flex flex-row bg-white rounded-md md:gap-4 gap-2 hover:-translate-y-1 transition-all flex-1 items-center p-2">
											<img src={icon} class="md:w-8 md:h-8 w-5 h-5">
										</a>
									))
								}
							</div>
						</div>
					</div>
				</div>

			</div>
		</header>

		<main class="max-w-2xl px-8 mx-auto overflow-auto">

			<!-- Inner Wrapper -->
			<div class="flex">
				<div>Inside</div>
				<img class="h-32 rounded-full" src="headshot.png" alt="Headshot photo">
			</div>
		
		</main>

	</body>
</html>
